html {
  zoom: 80%;
}

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

button {
  background-color: rgb(238, 214, 107);
  color: rgb(245, 72, 124);
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  border-color: rgb(245, 72, 124);
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
